.sidebar-container {
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 90px;
    left: 0;
    background: black;
    color: white;
    text-align: center;
}

.left-corner {
    background-color: rgb(232, 59, 70);
    height: 80px;
    width: 90px;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 12;
}

.inn-circle {
    background-color: rgb(234, 120, 128);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: fixed;
    top: 15px;
    left: 20px;
    text-align: center;
    z-index: 14; 
}

.logo {
    color: #FBBA07;
}

.inactive-logo {
    color: white;
}

.active {
    border-left: 2px solid #FBBA07;
}

.sidebar-icons {
    margin-top: 100px;
}

li {
    margin-bottom: 30px;
}

.sidebar-acnt {
    margin-top: 70px;
}

.sidebar-acnt li {
    font-size: 30px;
}